<section class="section novi-bg novi-bg-img section-lg bg-gray-100 section-top-shadow">
    <div class="container">
        <h2 class="text-center text-sm-left">How <span class="h2-style">it Works</span></h2>
        <div class="row row-50 mt-50 column-arrow">
            <div class="col-lg-3 col-sm-6">
                <!-- Box Icon Classic-->
                <div class="box-icon-classic">
                    <div class="box-icon-classic-icon icon novi-icon linearicons-mouse-left"></div>
                    <h4 class="box-icon-classic-title">Register</h4>
                    <p>To start using our auction, you’ll need to register. It’s completely free and requires just a few clicks!</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- Box Icon Classic-->
                <div class="box-icon-classic">
                    <div class="box-icon-classic-icon icon novi-icon linearicons-cart-exchange"></div>
                    <h4 class="box-icon-classic-title">Buy or Bid</h4>
                    <p>You can instantly buy or place a bid on any desired product right after registration on our website.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- Box Icon Classic-->
                <div class="box-icon-classic">
                    <div class="box-icon-classic-icon icon novi-icon linearicons-hammer2"></div>
                    <h4 class="box-icon-classic-title">Submit a Bid</h4>
                    <p>Submitting a bid to our auction is quick and easy. The process takes approximately 5 minutes.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <!-- Box Icon Classic-->
                <div class="box-icon-classic">
                    <div class="box-icon-classic-icon icon novi-icon linearicons-trophy2"></div>
                    <h4 class="box-icon-classic-title">Win</h4>
                    <p>Easily win at our auction and enjoy owning the product you dream of after the bidding is closed.</p>
                </div>
            </div>
        </div>
    </div>
</section>
