<section class="section novi-bg novi-bg-img section-xl section-banner-classic bg-primary text-center text-lg-left" style="background-image: url(@Url.Content("~/images/home-01-1920x570.jpg"))">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-9">
                <div class="banner-classic">
                    <h1>
                        The best place <span class="d-block font-weight-bold">to buy and sell!</span><img class="banner-classic-figure" src="@Url.Content("~/images/banner-arrow-184x147.png")" alt="" width="184" height="73" />
                    </h1>@*<a class="button button-icon button-icon-right button-black button-lg" href="#"><span class="icon novi-icon fa fa-chevron-right"></span>Register</a>*@
                    <br />
                    <div class="row">
                        <div class="col-lg-8">
                            <!--RD Search-->
                            <form class="rd-form rd-search rd-form-inline" action="search-results.html" method="GET">
                                <div class="form-wrap">
                                    <label class="form-label rd-input-label" for="rd-search-form-input">Search</label>
                                    <input class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off">
                                </div>
                                <div class="form-wrap form-button">
                                    <button class="button button-black" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
