@model AuctionIt.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Home";
}
<!-- Best Place-->
@Html.Partial("_Slider")
<!-- Finished Auctions-->
<section class="section novi-bg novi-bg-img section-lg bg-white">
    <div class="container">
        <h2 class="text-center text-sm-left">Finished <span class="h2-style">Auctions</span></h2>
        <div class="row row-20">
            @foreach (var item in Model.FinishedAuctions)
            {
                Html.RenderPartial("_FinishedAuctionThumbnail", item);
            }
        </div>
    </div>
</section>
<!-- Current Auctions-->
<section class="section novi-bg novi-bg-img section-lg bg-white section-top-shadow">
    <div class="container">
        <h2 class="text-center text-sm-left">Current <span class="h2-style">Auctions</span></h2>
        <div class="row row-50 mt-50">
            @foreach (var item in Model.CurrentAuctions)
            {
                Html.RenderPartial("_AuctionThumbnail", item);
            }
        </div>
        <div class="mt-xl-40 mt-50 text-center text-sm-left"><a class="button button-icon button-icon-right button-black" href="@Url.Action("Index","Auctions")"><span class="icon novi-icon fa fa-chevron-right"></span>View all auctions</a></div>
    </div>
</section>
<!-- How it Works-->
@Html.Partial("_AuctionWork")
<!-- About Us-->
<section class="section novi-bg novi-bg-img section-lg">
    <div class="container">
        <div class="row row-50">
            <div class="col-lg-6">
                <h2 class="text-center text-sm-left">About <span class="h2-style">Us</span></h2>
                <div class="row row-30">
                    <div class="col-12">
                        <!-- Box Moder-->
                        <div class="box-modern">
                            <div class="box-modern-header">
                                <div class="box-modern-icon icon novi-icon novi-bg linearicons-laptop-phone"></div>
                                <h5 class="box-modern-title" style="width: 240px">Quality products for the best customers</h5>
                            </div>
                            <p class="box-modern-body">Online Auction features a wide variety of quality products at wholesale prices with our main locations in San Francisco, CA and Phoenix, AZ. We strive to make sure our customers are completely satisfied with their purchase.</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <!-- Box Moder-->
                        <div class="box-modern">
                            <div class="box-modern-header">
                                <div class="box-modern-icon icon novi-icon novi-bg linearicons-thumbs-up"></div>
                                <h5 class="box-modern-title" style="width: 240px">More than 20 years of auction experience</h5>
                            </div>
                            <p class="box-modern-body">We have the knowledge and ability to handle any type of auction. We handle small local sales, and large multiple-day, multi-million dollar auctions. Our services are tailored to fit each client's needs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="text-center text-sm-left">Events</h2>
                <div class="row row-30 box-modern-index">
                    <div class="col-12">
                        <div class="box-modern">
                            <div class="box-modern-header">
                                <div class="box-modern-index-count"></div>
                                <h5 class="box-modern-title" style="width: 240px">Laptops, Smartphones & IT Equipment Auction</h5>
                            </div>
                            <p class="box-modern-body">Next Saturday, we will be conducting our online auction of IT equipment including smartphones, laptops "Dell", "Apple" and "HP", monitors, printers, servers, network components, switches, and various accessories.</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="box-modern">
                            <div class="box-modern-header">
                                <div class="box-modern-index-count"></div>
                                <h5 class="box-modern-title" style="width: 240px">Children’s Clothes & Shoes Auction</h5>
                            </div>
                            <p class="box-modern-body">If you are looking for a new outfit for our kids, then our upcoming event is for you! Our new auction of kids’ clothes and shoes will start next Sunday at 11:00 (PDT) featuring exclusive clothing collections from widely known brands.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>