@{
    ViewBag.Title = "Credit Amount";
    string paypalSDKUrl = "https://www.paypal.com/sdk/js?client-id=" + AuctionIt.Common.Strings.PAYPAL_CLIIENT_ID;
}
<section class="section novi-bg novi-bg-img section-md bg-default text-center section-top-shadow">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-5">
                <div class="justify-content-center">
                    <h3 class="text-center text-sm-left">Credit: <span class="h2-style">@AuctionIt.Common.Strings.CURRENCY_UNIT @ViewBag.Balance</span></h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @using (Html.BeginForm("TopUp", "Finance", FormMethod.Post, new { @class = "rd-form rd-mailform rd-form-centered", role = "form", novalidate = "novalidate", target = "_blank" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row row-30">
                                <div class="col-md-12">
                                    <div class="form-wrap">
                                        <input value="0.00" class="form-input" id="amount" type="number" name="amount">
                                       
                                        <label class="form-label rd-input-label" for="amount">Top-up</label>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button class="button button-block button-primary" type="submit">Deposit</button>
                                </div>

                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <h4>Statement</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

