@{
    string username = AuctionIt.Models.User.GetUser(User.Identity.Name).FullName.FirstName;
}
<div class="rd-navbar-aside-right">
    <div class="group-sm"><a class="button button-sm button-primary-2" href="#">Hi! @username</a></div>
</div>
