<div class="footer-panel">
    <div class="container">
        <p class="rights"><span>&copy;&nbsp; </span>@System.DateTime.Today.Year<span>&nbsp;</span><span>@AuctionIt.Common.Strings.APP_NAME</span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a>. Design&nbsp;by&nbsp;<a href="https://www.sparkerzofficial.com/" target="_blank">Sparkerz</a></p>
    </div>
</div>
