<div class="rd-navbar-aside-right">
    <div class="group-sm"><a class="button button-sm button-secondary" href="@Url.Action("LogIn","Account")">Sign In</a><a class="button button-sm button-primary-2" href="@Url.Action("Register", "Account")">Register</a></div>
</div>
