<div class="rd-navbar-aside-right">
    <div class="group-sm"><a class="button button-sm button-secondary" href="#">Sign In</a><a class="button button-sm button-primary-2" href="#">Register</a></div>
</div>
