@{
    ViewBag.Title = "Reset password confirmation";
}

<section class="section novi-bg novi-bg-img section-md bg-default text-center section-top-shadow">
    <div class="container">
        <div class="row align-content-center">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
                <h1><span class="fa fa-check-circle text-primary"></span></h1>
                <p>
                    Your password has been reset.
                </p>
            </div>
        </div>
    </div>
</section>