@using PagedList
@using PagedList.Mvc
@model AuctionIt.ViewModels.AuctionsViewModels.IndexSearchViewModel
@{
    ViewBag.Title = "Open Auctions";
}
<div class="container-fluid grid-demo grid-demo-underlined">
    <div class="row">
        <div class="col-md-2">
            <!--Search Parameters Section-->
            @Html.Partial("_SearchBox")
        </div>
        <div class="col-md-10">
            <!--Auctions Section-->
            <section class="section novi-bg novi-bg-img section-lg bg-white section-top-shadow">
                <div class="container">
                    <h2 class="text-center text-sm-left">Open <span class="h2-style">Auctions</span></h2>
                    <div class="row row-50 mt-50">
                        @foreach (var item in Model.AuctionItems)
                        {
                            Html.RenderPartial("_AuctionThumbnail", item);
                        }
                    </div>
                </div>
                @Html.PagedListPager(Model.AuctionItems, page => @Url.Action("Index", new { page }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, DisplayEllipsesWhenNotShowingAllPageNumbers = true, DisplayPageCountAndCurrentLocation = true, DisplayLinkToIndividualPages = false, DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded, DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded, })
            </section>
        </div>
    </div>
</div>
